<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form type="text" name = "subject" method="post">
        {% csrf_token %} 

        <h3>Email Sender</h3>

        <p>Subject</p>
        <input type="text" name = "subject">

        <p>Email</p> 
        <input type="email" name = "email">

        <p>Message</p> <br>
        <textarea name="text" id="" cols="30" rows="10"></textarea> <br> <br>

        <button type="submit">Send</button>
      
   
    </form>
</body>
</html>